<h3>Your Pizza</h3>
<div>
<p>Size:  {{pizza.size}}</p>
<p>Toppings: 
    {{#each pizza.toppings}}
    {{pizza.toppings.id}}
    {{/each}}
</p>
<p>Gluten-free Crust:  {{pizza.glutenFree}}</p>
<p>Specialty Instructions:  {{pizza.specialInstructions}}</p>
<p>Price: ${{pizza.price}}</p>
</div>

<a href="/build-your-own">Build Another Pizza</a>
<a href="/">Back to Homepage</a>