<head>
<link rel="stylesheet" href="/madlib.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tourney&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Tourney&display=swap" rel="stylesheet">
</head>


<body>
    <h3>Your Madlib Story</h3>
    <div class="madlib-container">
        <p>
{{madlib.character1}} and {{madlib.character2}} decide they want pizza for dinner.  
{{madlib.character1}} realizes they have lost their {{madlib.noun1}} and wants to find it first.  
{{madlib.character1}} thinks it was left at {{madlib.place}}.  
{{madlib.character2}} grabs their {{madlib.transport}} and gets them there.  
While they’re looking around a {{madlib.noun2}}, a {{madlib.adjective1}} {{madlib.creature}} pops out from behind the {{madlib.noun2}} and scares them.  
"{{madlib.sentence}}" it shouts.

“Let’s get out of here,” says {{madlib.character2}}.  

“But my {{madlib.noun1}}!” says {{madlib.character1}}.

“I have your {{madlib.noun1}},” says the {{madlib.adjective1}} {{madlib.creature}}.  
“If you want it back, you must play a game of {{madlib.verb}}-the-{{madlib.adjective2}}-{{madlib.noun3}}.  
“That’s too {{madlib.adjective3}}.  Let’s just go and eat pizza instead.”  
“Agreed.  I want it with {{madlib.noun4}} as a topping.”
        </p>
        <div class="links-container">
            <a href="/">Back to Homepage</a>
            <a href="/madlib">Do Another Madlib</a>
        </div>
    </div>
</body>